body {
    background-color: #2d2c2a;
    font-family: 'Libre Baskerville', serif;
    color: #f1ede1;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Libre Baskerville', serif;
    color: #f1ede1;
}

img.main {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

img.timeline {
    width: 100%;
}

img.proposal {
    margin-bottom: 25px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #a3b6b2;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
	 ========================================================================== */
	 
#headerwrap {
	background: url(../img/succulent1.png) no-repeat right top;
	text-align: center;
	background-attachment: relative;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 300px;
	color: #e4c2a9;
}

#headerwrap h3 {
	color: #f1ede1;
    font-family: 'Libre Baskerville', serif;
    margin-top: 0;
    margin-bottom: 30px;
}

#headerwrap p {
	color: #f1ede1;
}

/* Footer Wrap */

#footerwrap {
	background: url(../img/succulent2.png) no-repeat left bottom;
	text-align: center;
	background-attachment: relative;
	min-height: 460px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footerwrap h3 {
	color: #e4c2a9;
	letter-spacing: 1px;
	margin-top: 30px;
}

#footerwrap p {
	font-size: 15px;
	color: #f1ede1;
}

#footerwrap i {
	font-size: 8px;
	color: #f1ede1;
    padding: 3px;
}

#f {
	background: #2d2c2a;
	padding-bottom: 35px;
	text-align: center
}

#f h3 {
	color: #e4c2a9;
	letter-spacing: 1px;	
}

#f i {
	font-size: 8px;
	color: #f1ede1;
    padding: 3px;
}

#f p {
	color: #f1ede1;
}

#f img {
	text-align: center;
}

p.copyright {
    font-size: 8px;
    margin-bottom: 0;
}

div.proposalgrid {
    padding: 0px;
}

div.proposalrow {
    margin: 0px;
}